.signin__input {
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  box-sizing: border-box;

  width: 100%;
  margin: 0 0 30px;
  padding: 0 0 13px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
}
