.signin__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000;

  background: #fff;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;

  width: 358px;
  height: 50px;

  margin-top: 178px;
}
