.footer {
  padding: 66px 0 60px 0;
}

@media screen and (max-width: 917px) {
  .footer {
    text-align: center;
    padding: 66px 19px 60px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    padding: 48px 19px 36px;
  }
}
