.infotooltip__container {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  cursor: default;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .infotooltip__container {
    width: 282px;
    height: 322px;
  }
}
